# Database configuration (Neon PostgreSQL Serverless connection string)
DATABASE_URL="postgresql://username:password@endpoint.neon.tech/neondb?sslmode=require"

# Google Sheets Integration (Optional)
GOOGLE_SERVICE_ACCOUNT_EMAIL="your-service-account@project.iam.gserviceaccount.com"
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nyour-key\n-----END PRIVATE KEY-----\n"
GOOGLE_SHEET_ID="your_google_sheet_id"
